

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}
body{
    font-family: 'inter', sans-serif;
}
:root{
    --color-one: #000000;
    --color-two: #287e53;
    --color-three: #ffffff;
    --color-four: #00271c;
    --color-five: #003e2c;
}
.destaque{
    color: var(--color-five);
}
a{
    text-decoration: none;
    color: #ffffff;
    opacity: 70%;
}
a:hover{
    opacity: 100%;
}
.logo{
    opacity: 100%;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'bebas neue';
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'bebas neue', system-ui, -apple-system, Arial, Helvetica, sans-serif ;
    background: var(--color-five);
    height: 10vh;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background:#fff;
    margin: 8px;
}

main{
    background-color: var(--color-four);
    
}
footer{
    width: 100%;
    padding: 1.4rem;
    text-align: center;
    font-weight: bold;
    color: var(--color-three);
    background-color: var(--color-five);
}
/* capa portfolio*/
.capa{
    background-image: url(/assets/img/free-photo-of-biologia-planta-diagrama-desenho-tecnico.jpeg);
    padding:  0 10%;
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: space-evenly;
    padding: 10% 5%;  
}

.capa-contatos{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: var(--color-four);
    padding: 2rem;
    border-radius: 50px;
}
.capa-contatos a{
   font-size: 36px;
   opacity: 100%;
}
.capa-conteudo{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 1rem;
    background-color: var(--color-four);
    padding: 2rem 4rem;
    border-radius: 50px;
    
}
.capa-conteudo h1{
    color: var(--color-three);
    text-transform: uppercase;
    font-family: 'bebas neue', sans-serif;
    font-size: 80px;
    letter-spacing: 1px;
}
.capa-conteudo h2{
    color: var(--color-two);
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}
.capa-conteudo p {
    color: var(--color-two);
    font-size: 24px;
  
}
.capa-fotos{
    display: flex;
    align-items: center; 
    background-color: var(--color-four);
    padding: 2rem;
    border-radius: 50px;
}
.fotos-area{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 30vh;
    border-radius: 50px;
    background: #00271c;
    box-shadow:  -20px -20px 36px #00100c,20px 20px 36px #003e2c;

}
.fotos-area img{
   height: 20vh;
   border-radius: 50px;
}
/*Sobre mim*/
.section-sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}
.sobre-textos{
    padding: 2vh 16vw;
}
.sobre-textos h2{
    color: var(--color-three);
    text-transform: uppercase;
    font-family: 'bebas neue', sans-serif;
    font-size: 60px;
    letter-spacing: 1px;
}
.sobre-textos p{
    font-size: 24px;
    color: var(--color-two);
}
#baixar-curriculo{
    margin-top: 2rem;
}
#baixar-curriculo a{
    cursor: pointer;
    opacity: 70%;
    font-size: 18px;
    border: 2px solid var(--color-three);
    border-radius: 15px;
    padding: 1rem;
}
#baixar-curriculo a:hover{
    opacity: 100%;
    transition: 1s;
}



/*Projetos*/
.section-projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
}








.container-projetos{
    display: grid;
    grid-auto-flow: column ;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    padding: 3rem ;
    margin-bottom: 4rem;
}
.projeto{
   
}
















@media   (max-width: 999px){
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: #003e2c;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
    .nav-list.active {
        transform: translateX(0);
      }
      
      @keyframes navLinkFade {
        from {
          opacity: 0;
          transform: translateX(50px);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
      
      .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
      }
      
      .mobile-menu.active .line2 {
        opacity: 0;
      }
      
      .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
      }
}

@media  screen and (max-width: 730px) {
    /*capa*/
    .capa{
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    .capa-conteudo{
        text-align: center;
    }
    .capa-contatos{
        flex-direction: row;
        gap: 2rem;
    }
    .capa-conteudo p {
        width: auto;
    }
    /*sobre mim*/
    .sobre-textos{
        text-align: center;
    }
}