

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}
html, body{
    height: 100%;
}
body{
    font-family: 'inter', sans-serif;
}
:root{
    --color-one: #e6e6e6;
    --color-two: #60f1a9;
    --color-three: #4a74ce;
    --color-four: #0c0a04;
}
.destaque{
    color: var(--color-two);
}
a{
    text-decoration: none;
}
header{
    background-image: linear-gradient(to right, var(--color-one), var(--color-three));
    border-bottom: 2px solid var(--color-one);
}
.nav-bar{
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1% 5%;
}
.nav-bar h1{
    font-family: 'bebas neue', sans-serif;
    text-transform: uppercase;
    color: var(--color-three);
}
main{
    background-color: var(--color-three);
    height: 80vh;
}
.capa{
    color: var(--color-one);
    padding:  0 10%;
    display: flex;
    gap: 10%;
    align-items: center;
    padding: 10% 5%;
    
}
.capa-contatos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.capa-contatos a{
   
}
.capa-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.capa-conteudo h1{
    text-transform: uppercase;
    font-family: 'bebas neue', sans-serif;
    font-size: 80px;
}
.capa-conteudo h2{
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}
.capa-conteudo p {
    font-size: 24px;
}
.capa-fotos{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.fotos-area{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 30vh;
    border-radius: 77px;
    background: #4a74ce;
    box-shadow:  -16px -16px 32px #324f8c,16px 16px 32px #6299ff;

}
.fotos-area img{
   height: 28vh;
   border-radius: 77px;
}
footer{
    padding-top: 1%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-three);
}
